openapi: 3.0.1
info:
  title: Materials API
  description: API to manage material info.
  contact:
    email: okarians.302.dev@gmail.com
  version: 0.2.4
servers:
  - url: 'https://release.com/api/v1/materials'
    description: Release server
  - url: 'http://localhost/api/v1/materials'
    description: Local server
tags:
  - name: CreateMaterials
    description: Create API for material info.
  - name: GetMaterials
    description: Get API for material info.
  - name: UpdateMaterials
    description: Update API for material info.
  - name: DeleteMaterials
    description: Delete API for material info.
  - name: SearchMaterials
    description: Search API for material info.
  - name: CreateUserMaterials
    description: Create API for user material info.

paths:
  /{id}:
    get:
      tags:
        - GetMaterials
      summary: Get material info by id.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          description: Material id.
          required: true
          schema:
            $ref: '#/components/schemas/MaterialId'
      responses:
        '200':
          $ref: '#/components/responses/MaterialGetResponse'
        '400':
          $ref: '#/components/responses/400Model'
        '401':
          $ref: '#/components/responses/401Model'
        '409':
          $ref: '#/components/responses/409Model'
        '500':
          $ref: '#/components/responses/500Model'
  /:
    get:
      tags:
        - GetMaterials
      summary: Get material info list.
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/MaterialListGetResponse'
        '400':
          $ref: '#/components/responses/400Model'
        '401':
          $ref: '#/components/responses/401Model'
        '409':
          $ref: '#/components/responses/409Model'
        '500':
          $ref: '#/components/responses/500Model'
  /user_material:
    post:
      tags:
        - CreateUserMaterials
      summary: Create user mterial info.
      security:
        - bearerAuth: []
      requestBody:
        description: Create user material info request body.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserMaterialModel'
      responses:
        '201':
          $ref: "#components/responses/UserMaterialPostResponse"
        '400':
          $ref: '#/components/responses/400Model'
        '401':
          $ref: '#/components/responses/401Model'
        '409':
          $ref: '#/components/responses/409Model'
        '500':
          $ref: '#/components/responses/500Model'

components:
  responses:
    MaterialGetResponse:
      description: Get material info response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MaterialDetailModel'
    MaterialListGetResponse:
      description: Get material info list response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MaterialList'
    UserMaterialPostResponse:
      description: Create user material info response.
      content:
        application/json:
          schema:
            $ref: '../components/CommonMessageModel.yaml'
    400Model:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '../components/CommonMessageModel.yaml'
          example:
            reason: Validation_Error
            msg: リクエストの形式が不正です
    401Model:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '../components/CommonMessageModel.yaml'
          example:
            reason: Authentication_ERROR
            msg: 認証に失敗しました 
    409Model:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '../components/CommonMessageModel.yaml'
          example:
            reason: DATA_INCONSITENCY
            msg: データ不整合のため、突合情報検索に失敗しました
    500Model:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '../components/CommonMessageModel.yaml'
          example:
            reason: SERVER_ERROR
            msg: サーバーエラー
  schemas:
    MaterialModel:
      description: Material info model.
      type: object
      properties:
        materialId:
          $ref: '#/components/schemas/MaterialId'
        materialName:
          $ref: '#/components/schemas/MaterialName'
        categoryId:
          $ref: '#/components/schemas/CategoryId'
        categoryName:
          $ref: '#/components/schemas/CategoryName'
    MaterialDetailModel:
      description: Material detail info model.
      type: object
      properties:
        materialInfo:
          $ref: '#/components/schemas/MaterialModel'
        cocktailList:
          $ref: '#/components/schemas/CocktailList'
    CocktailModel:
      description: Mocktail info model.
      type: object
      properties:
        cocktailId:
          $ref: '#/components/schemas/CocktailId'
        cocktailName:
          $ref: '#/components/schemas/CocktailName'
        cocktailRemarks:
          $ref: '#/components/schemas/Remarks'
        cocktailImage:
          $ref: '#/components/schemas/CocktailImage'
    UserMaterialModel:
      description: User material info model.
      type: object
      properties:
        userId:
          $ref: '#/components/schemas/MaterialId'
        materialId:
          $ref: '#/components/schemas/UserId'
    MaterialList:
      description: Material info list.
      type: array
      items:
        $ref: '#/components/schemas/MaterialModel'
    CocktailList:
      description: Cocktail info list.
      type: array
      items:
        $ref: '#/components/schemas/CocktailModel'

    # 以下、複数モデルで使用する共通部品
    MaterialId:
      description: Material id
      type: integer
      format: integer
      example: 1
    MaterialName:
      description: Material name.
      type: string
      format: string
      example: ジン
    CategoryId:
      description: Material category id.
      type: integer
      format: integer
      example: 1
    CategoryName:
      description: Material category name.
      type: string
      format: string
      example: スピッツ
    CocktailId:
      description: Cocktail id
      type: integer
      format: integer
      example: 1
    CocktailName:
      description: Cocktail name.
      type: string
      format: string
      example: ジントニック
    UserId:
      description: User id.
      type: integer
      format: integer
      example: 1
    Remarks:
      description: Remarks.
      type: string
      format: string
      example: 本物の男の酒
    CocktailImage:
      description: Cocktail image.
      type: string
      format: byte
      example: /8888
  
security:
  - MapManagerAuth: [] 