<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="mycocktail-artifacts" value="https://pkgs.dev.azure.com/OkahashiKa-Projects/MyCocktails/_packaging/mycocktail-artifacts/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
      <gara-artifact>
          <add key="Username" value="Azure DevOps Artifacts Credential Provider" />
          <add key="ClearTextPassword" value="rodqcczwtgy2kxcjjoyonimzs3dy7hd5oyfld5roymy7f266ibta" />
      </gara-artifact>
  </packageSourceCredentials> 
</configuration>