<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="mycocktails-artifacts" value="https://pkgs.dev.azure.com/OkahashiKa/MyCocktails/_packaging/mycocktails-artifacts/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
      <gara-artifact>
          <add key="ClearTextPassword" value="cazjrb2aivisrv5qzzkom5osai3g6775d2vp5u7vkmpbjy6nssea" />
      </gara-artifact>
  </packageSourceCredentials> 
</configuration>