save-exact=true

@mycocktails:registry=https://pkgs.dev.azure.com/OkahashiKa/MyCocktails/_packaging/mycocktails-artifacts/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/OkahashiKa/MyCocktails/_packaging/mycocktails-artifacts/npm/registry/:username=OkahashiKa
//pkgs.dev.azure.com/OkahashiKa/MyCocktails/_packaging/mycocktails-artifacts/npm/registry/:_password="ZW1kd3Y3cTN3eXAybnF4ZHVtNHRlaW1yaWk3ZnBuY3V5MmJwa3Y2a3R0anI0YmFkZXZwYQ=="
//pkgs.dev.azure.com/OkahashiKa/MyCocktails/_packaging/mycocktails-artifacts/npm/registry/:email=okarians.302.dev@gmail.com
//pkgs.dev.azure.com/OkahashiKa/MyCocktails/_packaging/mycocktails-artifacts/npm/:username=OkahashiKa
//pkgs.dev.azure.com/OkahashiKa/MyCocktails/_packaging/mycocktails-artifacts/npm/:_password="ZW1kd3Y3cTN3eXAybnF4ZHVtNHRlaW1yaWk3ZnBuY3V5MmJwa3Y2a3R0anI0YmFkZXZwYQ=="
//pkgs.dev.azure.com/OkahashiKa/MyCocktails/_packaging/mycocktails-artifacts/npm/:email=okarians.302.dev@gmail.com
; end auth token