<h3>My Material List</h3>
<table class="materials">
<tr>
    <th>ID</th><th>名称</th><th></th>
</tr>
<tr *ngFor="let material of materials">
    <td>{{material.id}}</td>
    <td>{{material.name}}</td>
    <td><input type="checkbox"
        name="material-{{material.id}}"
        #checkMaterials
        (change)="OnCheckboxSelect(material.id, $event)">
    </td>
</tr>
</table>
<button class="btn btn-secondary" (click)="serachCocktails()">検索</button>

<div *ngIf="result">
    <h2>serachResult</h2>
    <table class="materials">
        <tr>
            <th>ID</th><th>名称</th><th></th>
        </tr>
        <tr *ngFor="let material of result">
            <td>{{material.id}}</td>
            <td>{{material.name}}</td>
            <td><input type="checkbox"
                name="material-{{material.id}}"
                #checkMaterials
                (change)="OnCheckboxSelect(material.id, $event)">
            </td>
        </tr>
    </table>
</div>